#header__nav__contact {
    color: var(--highlight-color);
}

.contact__form {
    margin-top:20px; 
}

.contact fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px 0 10px 0;
}

.contact__form__submit {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    position: relative;
}

.contact button {
    background-color: var(--highlight-color);
    padding: 10px 20px;
    border-radius: 5px;
    
    &:hover {
        opacity: 0.8;
    }
}

em {
    color: var(--highlight-color);
}

#em-small {
    font-size: 0.8em;
}

.contact__form__field {
    border-radius: 5px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

#nom,
#mail,
#message,
#file {
    width: calc(100vw - 120px);
}


/*--------------------TABLET AND DESKTOP-----------------------------*/

@media screen and (min-width: 768px) {
    #nom,
    #mail,
    #message {
        width: calc(100vw - 480px);
    }
}

@media screen and (min-width: 1024px) {
   
    .contact fieldset {
        display: grid;
        grid-template-columns: 1fr 2fr;
        border: none;
        padding: 10px 0 10px 0;
    }

    #nom,
    #mail,
    #message {
        width: unset;
    }

}