/*CSS spécifique à la page skills.html*/

#header__nav__skills {
    color: var(--highligtht-color);
}

.competences > section {
    margin: 40px 0;
}


/* ---------------COMPETENCES TECHNIQUES---------------- */

.competences__techniques__details {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.competences__techniques__details > li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.competences__techniques__details > li > p {
    margin: 5px 0;
}

/*Barres de progression des compétences*/

.competences__techniques__details__greybar {
    background-color: rgb(94, 94, 94);
    width: 100%;
    height: 5px;
}

@keyframes ProgressBar10 {
    from {width: 0;}
    to {width: 10%;}
}

@keyframes ProgressBar50 {
    from {width: 0;}
    to {width: 50%;}
}

@keyframes ProgressBar70 {
    from {width: 0;}
    to {width: 70%;}
}

@keyframes ProgressBar90 {
    from {width: 0;}
    to {width: 90%;}
}

.competences__techniques__details__level {
    position: relative;
}

.competences__techniques__details__progressbar {
    content: "";
    background-color: var(--highligtht-color);
    position: absolute;
    height: 5px;
}


/* Ci-dessous le code lié au PHP pour automatiser les barres de progression - Mais ne fonctionne pas
------------------------------------------------------------ */

.competences__techniques__details__progressbar-10 {
    border: red solid 3px;
}

.competences__techniques__details__progressbar-10 {
    animation: ProgressBar10 0.3s 1s forwards;
}

.competences__techniques__details__progressbar-50 {
    animation: ProgressBar50 0.3s 1s forwards;
}

.competences__techniques__details__progressbar-70 {
    animation: ProgressBar70 0.3s 1s forwards;
}

.competences__techniques__details__progressbar-90 {
    animation: ProgressBar90 0.3s 1s forwards;
}


/* ------------FIN DE COMPETENCES TECHNIQUES------------- */
/* ----------------------LANGUES------------------------- */





/* -------------------FIN DE LANGUES--------------------- */
