@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background-color: #1E3142;
    --highligtht-color: #FFC16E;
}

/*----------------------------GLOBAL----------------------------------*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 0;
    transition: 300ms ease-in-out;
    background-color: white;
    color: white;
}

body,
h1, h2,
figure,
ul, li {
    margin: 0;
}

figure > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

a {
   text-decoration: none;
   color: inherit;      /********A modifier ?***********/
}

ul, li {
    padding: 0;
    list-style: none;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

/*-----------------------END OF GLOBAL------------------------------*/
/*---------------------PARENT SECTIONS------------------------------*/

.homepage-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header,
.content {
    height: 80vh;
    background-color: var(--background-color);
}

header {
    width: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0 5px 0;
}

.banner {
    height: 90vh;
    width: 25vw;
    margin: 5vh 0;;
    display: flex;
    justify-content:  center;
    box-shadow: 0 0 20px black;
    z-index: 20;
}

main,
.background-content,
.content {
    width: 50vw;
    height: 80vh;
}

.background-content,
.content {
    position: absolute;
    background-color: var(--background-color);
}

/*------------------END OF PARENT SECTIONS---------------------------*/
/*----------------------------HEADER-------------------------------------*/

.header__initials {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 10px;
    position: relative;
}

.header__initials::after {
    content:"";
    background-color: var(--highligtht-color);
    height: 3px;
    bottom: 0;
    left: 25px;
    right: 25px;
    position: absolute;
}

.header__nav {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
}

.header__nav > a {
    margin: 15px;
    transition: transform 300ms;
    
}

.header__nav > a:hover {
    transform: scale(1.2);
}

/*-----------------------END OF HEADER---------------------------------*/
/*----------------------------BANNER-------------------------------------*/

.banner__id {
    position: absolute;
    bottom: calc(5vh + 30px);
    align-self: center;
    text-align: center;
    width: inherit; 
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.35);
    text-shadow: 0px 0px 20px rgb(61, 61, 61);
}

.banner__id > h1 {
    font-size: 2em;
    width: inherit; 
}

.banner__id__contact > a {
    font-size: 1.2em;
    margin: 10px;
}

/**Je ne comprends pas pourquoi ici il a fallu que je fasse la transition sur les icones alors que cela fonctionne sur les ancres du header**/
.banner__id__contact i{
    transition: transform 300ms;
}

.banner__id__contact i:hover {
    transform: scale(1.2);
}

/*------------------------END OF BANNER-------------------------------*/
/*----------------------------CONTENT-----------------------------------*/

@keyframes MoveRight {
    0% {
        width: 0; 
    }
    100% {
        width: 50vw;
    }
}

@keyframes Appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.background-content{
    animation: MoveRight 300ms; 
} 

.content {
    padding: 20px 20px 20px 30px;
    opacity: 0;
    animation: Appear 30ms 300ms ease-in-out forwards;
    overflow-x: hidden;
    overflow-y: scroll;
}

/**Masque la scrollbar, mais pas très propre**/
.content::-webkit-scrollbar {
    width: 1px; /* width of the entire scrollbar */
}

h2 {
    color: var(--highligtht-color);
}

/*-----------------------END OF CONTENT------------------------------*/