.work {
    display: flex;
    flex-direction: column;
}

.work figure {
    flex-grow: 1;
    margin-top: 20px;
}

.work__left > section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work__left i {
    margin: auto 10px;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    color: var(--background-color);
    padding: 10px;
}

.work__nav,
.work__nav > a {
    display: flex;
}

.work__nav {
    margin-top: 20px;
    justify-content: space-around;
}

.work__nav > a {
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.work__nav > a:hover {
    scale: 1.1;
    transition: 300ms ease-in-out;
}

.work__nav i {
    margin: 5px;
}

/*--------------------TABLET AND DESKTOP-----------------------------*/

@media screen and (min-width: 1024px) {

    .work {
        flex-direction: row;
    }

    .work figure {
        width: 25vw;    
    }

    .work__left {
        margin-right: 20px;
    }

    .work__left > section {
        flex-direction: row;
    }

}