#header__nav__works {
    color: var(--highlight-color);
}

.my-works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-works__work {
    width: 100%;
    padding: 20px 10px 10px 0;
    position: relative;
}

@keyframes SlowAppear {
    from{opacity: 0;}
    to{opacity: 1;}
}

.my-works figure:nth-of-type(1) {
    opacity:0;
    animation: SlowAppear 300ms 0.2s forwards ease-in-out;
}

.my-works figure:nth-of-type(2) {
    opacity:0;
    animation: SlowAppear 300ms 0.25s forwards ease-in-out;
}

.my-works figure:nth-of-type(3) {
    opacity:0;
    animation: SlowAppear 300ms 0.3s forwards ease-in-out;
}

.my-works figure:nth-of-type(4) {
    opacity:0;
    animation: SlowAppear 300ms 0.35s forwards ease-in-out;
}

.my-works figure:nth-of-type(5) {
    opacity:0;
    animation: SlowAppear 300ms 0.4s forwards ease-in-out;
}

.my-works figure:nth-of-type(6) {
    opacity:0;
    animation: SlowAppear 300ms 0.45s forwards ease-in-out;
}

.my-works figure:nth-of-type(7) {
    opacity:0;
    animation: SlowAppear 300ms 0.5s forwards ease-in-out;
}

.my-works figure:nth-of-type(8) {
    opacity:0;
    animation: SlowAppear 300ms 0.55s forwards ease-in-out;
}

.my-works figure:nth-of-type(9) {
    opacity:0;
    animation: SlowAppear 300ms 0.6s forwards ease-in-out;
}

.my-works figure:nth-of-type(10) {
    opacity:0;
    animation: SlowAppear 300ms 0.65s forwards ease-in-out;
}

/* Figcaptions */

.my-works__work figcaption {
    position: absolute;
    top: 30px;
    bottom: 20px;
    left: 10px;
    right: 40px;
    z-index: -50;
}

.my-works__work:hover figcaption {
    z-index:10;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes figcaptionAppear {
    from{opacity: 0;}
    to{opacity: 100;}
}

.my-works__work:hover figcaption,
.my-works__work:hover figcaption * {
    animation: figcaptionAppear 300ms;
}

.my-works__work figcaption {
    color: var(--background-color);
}

.my-works__work figcaption i {
    font-size: 1.5em;
    margin: 10px 5px 0 5px;
}

/*--------------------TABLET AND DESKTOP-----------------------------*/

@media screen and (min-width: 1024px) {

    .my-works__work {
        width: 50%;
    }

    .my-works__work:nth-of-type(2n + 1) {
        padding-right: 30px;
    }

    .my-works__work:nth-of-type(2n) > figcaption {
        right: 20px;
    }
}
